/*----------contct form------------ */
.contact-form-container{
    border: 0.5px solid var(--border-color);
    border-radius: 7px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.form-containt{
    /* background-color: red; */
    width: 100%;

}
.contact-form .input{
    outline: none;
    border: 0.5px solid var(--border-color);
    height: 3.125rem;
    width:100%;
    padding: 0.875rem;
    margin: 1rem 0;
    font-weight: var(--semibold);

}
.contact-form .textarea{
    outline: none;
    border: 0.5px solid var(--border-color);
    height: 10.125rem;
    width:100%;
    padding: 0.875rem;
    margin: 1rem 0;
    font-weight: var(--semibold); 
}
.contact-form button {

    background-color: var(--accent-color);
    color: var(--bg-color);
    padding: 12px 30px;
    width: 100%;
    font-size: var(--fs-lg);
    font-weight: var(--semibold);
    outline: none;
    border: 0.5px solid var(--accent-color);
    border-radius: 3px;

    transition: 0.3s ease-in-out;

    cursor: pointer;
}

.contact-form button:hover {
    border: 0.5px solid var(--primary-color);
    background-color: var(--bg-color);
    color: var(--primary-color);
    padding: 12px 30px;
}
/* form error  */
.error{
    color:red;
    font-size:0.8rem;
    display:block;
    margin-bottom:10px;
}
.facalty-member{
    /* background-color: yellow; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    /* width: 100%; */
}
.facalty-member-list .facalty{
    font-size: var(--fs-base);
    line-height: 25px;
    list-style: none;
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .contact-container{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}  
}
/* mobile  */
@media (max-width: 768px){
    .contact-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}
.location-list .location{
    font-size: var(--fs-sm);
    line-height: 25px;
    list-style: none;
}
.contact-form-container{
    border: 0.5px solid var(--border-color);
    border-radius: 7px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.facalty-member-container{
    flex-direction: column;
    align-items: flex-start;
}
.facalty-member{
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.facalty-member-list .facalty{
    font-size: var(--fs-sm);
    line-height: 25px;
    list-style: none;
}
.facalty-member-list .facalty a{
    font-size: var(--fs-sm);
    line-height: 25px;
}
}



/*----------cart section----------*/
.cart-section{
    /* background-color: red; */
    padding: 2rem;
}
.cart-home-container{
    background-color: transparent;
    /* background-image: url("/images/banner-images/banner1.png"); */
    background-color: var(--primary-color);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height: auto;
    padding: 3rem 0;
    border-radius: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cart-home-container h2{
    color: var(--bg-color);
    font-size: var(--fs-xlg);
}
.cart-home-container p{
    color: var(--bg-color);
    font-size: var(--fs-lg);
}
.add-cart-container{
    overflow-y: auto;
    /* background-color: yellow; */
}
.add-cart-container table{
    /* background-color: red; */
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
.add-cart-container table img{
    margin-top: 15px;
    width: 70px;
    background-color: #eeeeee;
    
}
.add-cart-container table td:nth-child(1){
    text-align: center;
    width: 100px;
}
.add-cart-container table td:nth-child(2){
    text-align: center;
    width: 150px;
}
.add-cart-container table td:nth-child(3){
    text-align: center;
    width: 250px;
}
.add-cart-container table td:nth-child(4),
.add-cart-container table td:nth-child(5),
.add-cart-container table td:nth-child(6)
{
    text-align: center;
    width: 150px;
}
.add-cart-container table td:nth-child(5) input{
    width: 100px;
    padding: 10px 5px 10px 15px;
}
.add-cart-container table thead{
    border-top: 0.5px solid var(--border-color);
    border-bottom: 0.5px solid var(--border-color);
}
.add-cart-container table thead td{
    font-weight: var(--bold);
    text-transform: uppercase;
    font-size: var(--fs-lg);
    padding: 18px 0;
}
.add-cart-container table tbody tr td{
    margin-top: 15px;
}

.coupon-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
}
.apply h3{
    padding:0 1rem;
}
.apply input{
    outline: none;
    border: 0.5px solid var(--border-color);
    border-radius: 3px;
    height: 2.25rem;
    padding: 0.75rem;
    margin: 1rem 0.5rem;
    font-weight: var(--semibold);
}
.apply button {
    margin: 1rem 0.5rem;
    background-color: var(--accent-color);
    color: var(--bg-color);
    padding: 5px 30px;
    /* width: 100%; */
    font-size: var(--fs-lg);
    font-weight: var(--semibold);
    outline: none;
    border: 0.5px solid var(--accent-color);
    border-radius: 3px;

    transition: 0.3s ease-in-out;

    cursor: pointer;
}

.apply button:hover {
    border: 0.5px solid var(--primary-color);
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.Subtotal h3{
    margin-bottom: 1rem;

}
.Subtotal table{
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
.Subtotal table td:nth-child(1){
    text-align: center;
    width: 100px;
}
.Subtotal table  td:nth-child(2){
    text-align: center;
    width: 150px;
}
.Subtotal table  td:nth-child(3){
    text-align: center;
    width: 250px;
}
.Subtotal table  td{
    
    border: 0.5px solid var(--border-color);
    
}